.modalConstructor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 720px;
}

.modalTitle {
  min-width: 640px;
  height: 64px;
  display: flex;
  align-items: center;
  max-width: calc(100% - 120px);
}

.structure {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}